
.post{
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
}
.post-header{
    display: flex;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
.hmtl-logo{
    width: 10%;
}

.hmtl-logo i{
    font-size: 3em;
}
.title{
    width: 80%;
    line-height: 0.1em;
    padding: 1em;
}
.title p{
    font-size: 1em;
}
.menu{
    width: 10%;
    padding: 1em;
}

.menu i{
    font-size: 2.5em;
    float: right;
}
.icons i{
    margin-right: 0.2em;
    font-size: 2em;
}
.post-img, img{
    width: 100%;
}
.icons{
    padding: 0.5em;
}
#mark {
    float: right;
}
.content{
    padding: 0 0.5em 1em 0.5em;
}